/* 不能加 scoped；写在全局 */
:root {
  --van-primary-color:  rgba(252, 151, 1, 1); /* 主色 */
  --van-success-color:  #07c160;
  --van-warning-color:  #ffff1f;
  --van-danger-color:   #ee0a24;
  --van-text-color:     #323233;
  --van-active-color:   #f2f3f5;
}

/* 设置所有 van-button 背景透明且无边框 */
.van-button {
  border: none !important;
}